<img routerLink="/home-page" src="assets/go-back.png" id="backIcon">
<div class="container mt-2">

    <div class="row text-center">
        <h1>Demo</h1>
        <img  class="mx-auto" style="width: 100%;" src="assets/demo.gif">
    </div>

    <div class="row text-center mt-3">
        <h1>What is the secret of this magic?</h1>
        <p>
            The secret is when you first touch the screen,
        </p>

        <p>
            the card is set up,
        </p>

        <p>
            the card is depending on where you touch,
        </p>

        <p>
            The map is like this chart below.
        </p>
        <img src="assets/learn_cards.png">

        <p class="mt-2">
            Example for show King of Diamonds:
        </p>
        <img src="assets/Example-King-of-Diamonds.gif">



    </div>

    <div class="row text-center mt-3">
        <h1>How to performance this magic?</h1>

        <p>
            First, magician open this App, and click the "Start" button secretly then
            put your phone on the table, like nothing happened.
        </p>

        <p>
            Magician tell the audience that "Choose a number between 11 ~ 13 through the gesture with your fingers"
            and "Choose a suit through the gesture with your hand",
            (at here you can explanation how to make a "Spades" shape by hand, "Heart" shape by hand ...)
            After audience choosed the card, you can let her watch your phone,
            and wipe off the black screen rapidly.
            In the end the card was chosen by audience will appear on the screen.
        </p>

        <p>Here is a performance video: </p>

        <div>
            <button (click)="goToVedio1()" class="btn btn-secondary">Video Link</button>
        </div>

    </div>

    <div class="row text-center mt-3">
        <h1>How to back to the home page after performance?</h1>
        <p>
            Keep putting your two fingers touch on the screen for 3 seconds.
        </p>
        <img  class="mx-auto" style="width: 80%;" src="assets/how_to_back_to_home3.gif">
    </div>

</div>
<img routerLink="/home-page" src="assets/go-back.png" id="backIconAtBottom">
