#backIcon {
    margin-top: 50px;
    margin-left: 10px;
   
    width: 50px;
    animation: watch-me 3.5s ease-in-out infinite alternate;
}

#backIconAtBottom {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
   
    width: 50px;
    animation: watch-me 3.5s ease-in-out infinite alternate;
}

.vedio-link {
    padding: 0.5rem;
    font-size: 20px;
}


@keyframes watch-me {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }
}

