<?xml version='1.0' encoding='utf-8'?>
<widget id="tw.franky.predictcard" version="1.1.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Predict Card Magic Trick</name>
    <description>Predict card magic app</description>
    <author email="210238hwsh@gmail.com">
        Franky Email
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Fullscreen" value="true" />

    <preference name="hostname" value="localhost" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />


    <platform name="android">
        <icon background="res/icon/android/mipmap-mdpi/ic_launcher_background.png" density="mdpi" foreground="res/icon/android/mipmap-mdpi/ic_launcher_foreground.png" />
        <icon background="res/icon/android/mipmap-hdpi/ic_launcher_background.png" density="hdpi" foreground="res/icon/android/mipmap-hdpi/ic_launcher_foreground.png" />
        <icon background="res/icon/android/mipmap-xhdpi/ic_launcher_background.png" density="xhdpi" foreground="res/icon/android/mipmap-xhdpi/ic_launcher_foreground.png" />
        <icon background="res/icon/android/mipmap-xxhdpi/ic_launcher_background.png" density="xxhdpi" foreground="res/icon/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
        <icon background="res/icon/android/mipmap-xxxhdpi/ic_launcher_background.png" density="xxxhdpi" foreground="res/icon/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />
    </platform>

    <platform name="ios">
        <!-- Android 要用 預設的 https , ios 才要用 app, 如果Android 用 app, 則無法調整亮度, 這是測試出來的 原因不明 -->
        <preference name="scheme" value="app" />
    </platform>


      

</widget>
