<div class="home-page d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column">
    <img
      class="mx-auto app-link"
      style="width: 100%"
      src="assets/PredictCardText.png"
      (click)="goToAppStroe()"
    />

    <button
      *ngIf="isUserLearned"
      type="button"
      class="btn btn-dark op-btn"
      (click)="goToMagicPage()"
    >
      Start
    </button>

    <button
      *ngIf="isUserLearned"
      type="button"
      class="btn btn-dark op-btn"
      (click)="goToTipPage()"
    >
      Tip
    </button>

    <button
      type="button"
      class="btn btn-dark op-btn"
      [ngClass]="{ 'text-danger': !isUserLearned }"
      (click)="goToLearnPage()"
    >
      Learn
    </button>
  </div>
</div>
