.tip-page {
    background-color: black;
}

.card {
    background-color: black;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    width: 33%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#backIcon {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 50px;
    animation: watch-me 3.5s ease-in-out infinite alternate;
}

@keyframes watch-me {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }
}